<div class="row">

  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Cadastrar Usuário</h4>
      </div>
      <div class="panel-body">
        <formly-form model="vm.usuario" fields="vm.camposUsuario">
          <button type="submit" class="btn btn-info top10" ng-click="vm.salvar(vm.usuario)">Submit</button>
        </formly-form>
      </div>
      <div class="panel-footer">
        <button ng-click="vm.usuario = {}" class="btn btn-default">Limpar</button>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Usuários Cadastrados</h4>
      </div>
      <div class="panel-body">
        <h4 ng-show="vm.usuarios.length == 0" class="ng-repeat-empty">Nenhum usuário cadastrado.</h4>
        <table class="table" ng-show="vm.usuarios.length > 0">
          <tr>
            <th>Nome</th>
            <th>Login</th>
            <th>E-Mail</th>
          </tr>
          <tr ng-repeat="usuario in vm.usuarios">
            <td>{{usuario.nome}}</td>
            <td>{{usuario.login}}</td>
            <td>{{usuario.email}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>
