/**
 * Se você quiser sobreescrever algumas variaveis do bootstrap, você deve trocar os valores aqui.
 * A lista de variaveis está definida aqui: bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path:   "../../bower_components/font-awesome/fonts";

$navbar-height:                    30px !default;

$navbar-default-color:             #777 !default;
$navbar-default-bg:                white !default;
$navbar-default-border:            #DDDDDD !default;

// Navbar links
$navbar-default-link-color:                #777 !default;
$navbar-default-link-hover-color:          #333 !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         #555 !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               #DDDDDD !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;

/**
 * Não remova os comentários abaixo. São as marcações usadas pelo wiredep para
 * injetar as dependencias sass quando definidas no bower.json das dependencias.
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

/**
 * Não remova os comentários abaixo. São as marcações usadas pelo gulp-inject para
 * injetar automaticamente todos os arquivos sass.
 */
// injector
// endinjector
