$LIGHT-GRAY: #dddddd;
$GRAY: #797979;

$SIDEBAR-COLOR: #366e8e;
$SIDEBAR-SIZE: 190px;

body, html {
  font-family: sans-serif;
  font-size: 12px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

@mixin gray-bottom-shadow() {
  -webkit-box-shadow: 0 2px 2px $LIGHT-GRAY;
  -moz-box-shadow: 0 2px 2px $LIGHT-GRAY;
  box-shadow: 0 2px 2px $LIGHT-GRAY;
}

.gohd-navbar {
  @extend .nav;
  @include gray-bottom-shadow();

  height: 50px;
  z-index: 1030;
  background-color: white;

  li {
    a {
      text-decoration: none;
    }
  }
}

.gohd-navbar-right {
  @extend .nav;
  @extend .navbar-nav;
  @extend .navbar-right;

  li {
    a {
      color: $GRAY;
      span {
        margin-left: 5px;
      }
    }
    img {
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 5px;
      border-radius: 50;
      height: 40px;
    }
  }
}

.body {
  @extend .container-fluid;

  padding-left: 0px;
  padding-right: 0px;
}

.route-content-panel {
  @extend .row;

  margin-top: 25px;
}

.wrapper {
  padding-left: 70px;
  transition: all 0.4s ease 0s;
  height: 100%;
}

.sidebar-wrapper {
  margin-left: -$SIDEBAR-SIZE;
  left: 70px;
  width: $SIDEBAR-SIZE;
  background: $SIDEBAR-COLOR;
  position: fixed;
  height: 100%;
  z-index: 10000;
  transition: all 0.4s ease 0s;
}

#wrapper.active {
  padding-left: $SIDEBAR-SIZE;
}

#wrapper.active .sidebar-wrapper {
  left: $SIDEBAR-SIZE;
}

.sidebar-nav li a,
.sidebar_menu li a {
  color: #999;
  display: block;
  float: left;
  text-decoration: none;
  width: $SIDEBAR-SIZE;
  background: $SIDEBAR-COLOR;
  border-top: 1px solid $SIDEBAR-COLOR;
  border-bottom: 1px solid $SIDEBAR-COLOR;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  -ms-transition: background 0.5s;
  transition: background 0.5s;
}

.sidebar_name {
  padding-top: 25px;
  color: #fff;
  opacity: 0.7;
}

.sidebar-nav {
  display: block;
  float: left;
  width: $SIDEBAR-SIZE;
  list-style: none;
  margin: 0;
  padding: 0;

  li:hover {
    cursor: pointer;
  }
  li {
    line-height: 35px;
    a {
      color: white;
      display: block;
      text-decoration: none;
      text-align: center;
    }
    a:hover {
      color: #fff;
      background: rgba(255,255,255,0.2);
      text-decoration: none;
    }
  }
  .sidebar-brand {
    line-height: 50px;
    font-size: 18px;
    a {
      color: white;
      text-align: right;
      padding-right: 10px;
    }
    a:hover {
      color: #fff;
      background: none;
    }
  }
}

.sidebar-bottom {
  position: absolute;
  bottom: 0;
}

.sub_icon {
  float: right;
  padding-right: 43px;
  padding-top: 7px;
  font-size: 20px;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0 0 0 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
  .wrapper {
    padding-left: 70px;
    transition: all 0.4s ease 0s;
  }
  .sidebar-wrapper {
    left: 70px;
  }
  #wrapper.active {
    padding-left: $SIDEBAR-SIZE;
  }
  #wrapper.active .sidebar-wrapper {
    left: $SIDEBAR-SIZE;
    width: $SIDEBAR-SIZE;
    transition: all 0.4s ease 0s;
  }
}
