<div growl></div>
<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-static-top navbar-default custom">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand">
            <span>QUICKSTART</span>
            <i class="fa fa-anchor"></i>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
          <ul class="nav navbar-nav">
              <li><a ng-href="#" ui-sref="gohd.home">Início</a></li>
              <li><a ng-href="#" ui-sref="gohd.usuario">Usuários</a></li>
              <li><a ng-href="#" ui-sref="gohd.cliente">Clientes</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="">{{sc.nome}}</a></li>
            <li><a ng-href="#" ng-click="sc.logout()">Sair</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="row">
    <div ui-view></div>
  </div>
</div>
