<nav class="gohd-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="gohd-brand">
        GoHD
      </div>
    </div>

    <ul class="gohd-main-nav">
      <li><a href="#"><i class="fa fa-list-ul" aria-hidden="true"></i></a></li>
    </ul>

    <ul class="gohd-user-nav">
      <li><a href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp;</a></li>
      <li><a href="#"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>&nbsp; Sair</a></li>
    </ul>

  </div>
</nav>
