/*
 * TAMANHOS
 * ------------------------------------------------
 */

$SIDEBAR-SIZE:             200px;
$WIDTH-ICON-WRAPPER:        40px;
$HEIGHT-MENU-ITEM-WRAPPER:  40px;
$WIDTH-ARROW-WRAPPER:       30px;
$ITEM-TEXT-LINE-HEIGHT:     15px;
$MENU-BRAND-HEIGHT:         50px;
$MENU-BRAND-IMG-WIDTH:      50px;

/*
 * CORES
 * ------------------------------------------------
 */

$SIDEBAR-COLOR:            #92928d;
$SIDEBAR-HEADER-COLOR:     #7c7a73;
$SIDEBAR-ITEM-HOVER-COLOR: #7c7a73;
$PANEL_HEADING_COLOR:      #CFD8DC;
$MENU-ICON-COLOR:          #FFFFFF;
$MENU-ITEM-TEXT-COLOR:     #FFFFFF;
$MENU-ITEM-HOVER-COLOR:    #b1b1ac;
$MENU-BRAND-TEXT-COLOR:    #FFFFFF;
$SUB-MENU-ITEM-COLOR:      #bfbfba;

/*
 * CORES DEFAULT
 * ------------------------------------------------
 */

$LIGHT-GRAY:       #dddddd;
$GRAY:             #797979;
$RED-BOOTSTRAP:    #d9534f;
$GREEN-BOOTSTRAP:  #5cb85c;
$ORANGE-BOOTSTRAP: #f0ad4e;
$BLUE-BOOTSTRAP:   #5bc0de;
