#toast-container {
  margin-top: 45px;

  div {
    opacity: 1 !important;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) !important;
    filter: alpha(opacity=100) !important;
    padding-right: 10px;
  }
}
