<toaster-container toaster-options="{'limit':1, 'toaster-id': 1, 'position-class': 'toast-top-right', 'time-out': 2000}"></toaster-container>
<toaster-container toaster-options="{'limit':3, 'toaster-id': 2, 'position-class': 'toast-bottom-right', 'newest-on-top':false}"></toaster-container>
<div block-ui="main" class="block-ui-main">
  <div class="sidebar-wrapper" overflow-sidebar>
    <data-gohd-sidebar/>
  </div>
  <div class="body">
    <div class="row top0">
      <data-gohd-navbar/>
    </div>
    <div class="row top0">
        <breadcrumb></breadcrumb>
        <div class="container-fluid" style="margin-top: 85px;">
          <top-alert-container></top-alert-container>
          <div ui-view class="route-content-panel"></div>
        </div>
    </div>
  </div>
</div>
