<div class="row">
  <div class="col-md-4">

    <h4 class=top20>Funções disponíveis no sideMessagesService</h4>
    <ul>
      <li><a href="" ng-click="vm.exibirMensagemInfo()">Mensagem de Informação</a></li>
      <li><a href="" ng-click="vm.exibirMensagemInfoWithUser()">Mensagem de Informação com Usuário Logado</a></li>
      <li><a href="" ng-click="vm.exibirMensagemDeErro()">Mensagem de Erro</a></li>
      <li><a href="" ng-click="vm.exibirMensagemDeAviso()">Mensagem de Aviso</a></li>
      <li><a href="" ng-click="vm.exibirMensagemDeSucesso()">Mensagem de Sucesso</a></li>
    </ul>

    <h4 class=top20>Funções disponíveis no topMessagesService</h4>
    <ul>
      <li><a href="" ng-click="vm.exibirMensagemTopInfo()">Mensagem de Informação</a></li>
      <li><a href="" ng-click="vm.exibirMensagemTopWarning()">Mensagem de Aviso</a></li>
      <li><a href="" ng-click="vm.exibirMensagemTopErro()">Mensagem de Erro</a></li>
      <li><a href="" ng-click="vm.exibirMensagemTopSucesso()">Mensagem de Sucesso</a></li>
      <li><a href="" ng-click="vm.exibirMensagemTopComMuitasMensagens()">Muitas Mensagens</a></li>
    </ul>

    <h4 class=top20>Funções disponíveis no alertMessagesService</h4>
    <ul>
      <li><a href="" ng-click="vm.exibirAlertSuccess()">Alert de Sucesso</a></li>
      <li><a href="" ng-click="vm.exibirAlertError()">Alert de Erro</a></li>
      <li><a href="" ng-click="vm.exibirAlertWarning()">Alert de Aviso</a></li>
      <li><a href="" ng-click="vm.exibirAlertConfirm()">Alert de Confirmação</a></li>
      <li><a href="" ng-click="vm.exibirAlertConfirmLeave()">Alert de Confirmação para Sair (Sucesso)</a></li>
      <li><a href="" ng-click="vm.exibirAlertConfirmDelete()">Alert de Confirmação de Exclusão</a></li>
      <li><a href="" ng-click="vm.exibirAlertConfirmWithInput()">Alert de Confirmação com Input e Validações</a></li>
    </ul>

    <h4 class="bottom20 top20">Validação de Formulário com formValidation</h4>
    <h5><i>Informações Obrigatórias</i></h5>
    <validation-container>
      <validation-messages></validation-messages>
      <input type="text" name="Campo 1" class="form-control bottom10" ng-required="true"
             placeholder="Preenchimento Obrigatório"
             ng-model="vm.formulario1.nome" validation-input>
      <input type="password" name="Campo 2" class="form-control bottom10" ng-required="true"
             placeholder="Preenchimento Obrigatório"
             ng-model="vm.formulario1.senha" validation-input>
      <button type="text" class="btn btn-default bottom20" validation-submit="vm.validarFormulario()">Validar
        Formulário
      </button>
    </validation-container>
    <h5><i>Informações Restritas em Min e Max</i></h5>
    <validation-container>
      <validation-messages></validation-messages>
      <input type="text" name="Campo 3" class="form-control bottom10" min="4" max="10"
             placeholder="Mínimo: 4 / Máximo: 10"
             ng-model="vm.formulario2.nome" validation-input>
      <input type="password" name="Campo 4" class="form-control bottom10" min="4" max="10"
             placeholder="Mínimo: 4 / Máximo: 10"
             ng-model="vm.formulario2.senha" validation-input>
      <button type="text" class="btn btn-default bottom20" validation-submit="vm.validarFormulario()">Validar
        Formulário
      </button>
    </validation-container>
    <h5><i>Informações Obrigatórias por Condição</i></h5>
    <validation-container>
      <validation-messages></validation-messages>
      <input type="text" name="Campo 5" class="form-control bottom10"
             placeholder="Não obrigatório"
             ng-model="vm.formulario3.nome" validation-input>
      <input type="password" name="Campo 6" class="form-control bottom10"
             placeholder="Obrigatório se primeiro campo estiver preenchido"
             required-if="vm.obrigaCampoTeste()"
             ng-model="vm.formulario4.senha" validation-input>
      <button type="text" class="btn btn-default bottom20" validation-submit="vm.validarFormulario()">Validar
        Formulário
      </button>
    </validation-container>

    <h4 class=top20>Mensagens fixas com a tag 'fixed-message'</h4>
    <fixed-message type="info" message="Olá! Essa é uma mensagem de informação fixa!" close="false"></fixed-message>
    <fixed-message type="warning" message="Olá! Essa é uma mensagem de aviso fixa!" close="true"></fixed-message>
    <fixed-message type="danger" message="Olá! Essa é uma mensagem de erro fixa!" close="true"></fixed-message>

  </div>
</div>
