<div class="row">
  <div class="col-md-12">
    <h4>Funções disponíveis no sideMessagesService</h4>
    <ul>
      <li><a href="" ng-click="vm.exibirMensagemInfo()">Mensagem de Informação</a></li>
      <li><a href="" ng-click="vm.exibirMensagemInfoWithUser()">Mensagem de Informação com Usuário Logado</a></li>
      <li><a href="" ng-click="vm.exibirMensagemDeErro()">Mensagem de Erro</a></li>
      <li><a href="" ng-click="vm.exibirMensagemDeAviso()">Mensagem de Aviso</a></li>
      <li><a href="" ng-click="vm.exibirMensagemDeSucesso()">Mensagem de Sucesso</a></li>
    </ul>
    <h4>Funções disponíveis no topMessagesService</h4>
    <ul>
      <li><a href="" ng-click="vm.exibirMensagemTopInfo()">Mensagem de Informação</a></li>
      <li><a href="" ng-click="vm.exibirMensagemTopWarning()">Mensagem de Aviso</a></li>
      <li><a href="" ng-click="vm.exibirMensagemTopErro()">Mensagem de Erro</a></li>
      <li><a href="" ng-click="vm.exibirMensagemTopSucesso()">Mensagem de Sucesso</a></li>
      <li><a href="" ng-click="vm.exibirMensagemTopComMuitasMensagens()">Muitas Mensagens</a></li>
    </ul>
  </div>
</div>
