<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Novo Usuário</h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="name">Nome</label>
              <input type="text" id="name" maxlength="150" ng-model="uc.usuario.nome" class="form-control"/>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="usuario">Usuario</label>
              <input type="text" id="usuario" maxlength="150" ng-model="uc.usuario.usuario" class="form-control"/>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="senha">Senha</label>
              <input type="password" id="senha" maxlength="150" ng-model="uc.usuario.senha" class="form-control"/>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <button ng-click="uc.salvar(uc.usuario)" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>
