<div class="container">

  <div class="row">
    <div class="col-md-3">
      <input type="button" class="form-control btn btn-info" value="Mensagem de Info" ng-click="vm.exibirMensagemInfo()">
    </div>
    <div class="col-md-3">
      <input type="button" class="form-control btn btn-info" value="Mensagem de Info com Usuário" ng-click="vm.exibirMensagemInfoWithUser()">
    </div>
    <div class="col-md-3">
      <input type="button" class="form-control btn btn-danger" value="Mensagem de Erro" ng-click="vm.exibirMensagemDeErro()">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <input type="button" class="form-control btn btn-warning" value="Mensagem de Aviso" ng-click="vm.exibirMensagemDeAviso()">
    </div>
    <div class="col-md-3">
      <input type="button" class="form-control btn btn-success" value="Mensagem de Sucesso" ng-click="vm.exibirMensagemDeSucesso()">
    </div>
  </div>

  <dev-tecs></dev-tecs>
</div>
