<div class="row">
  <div class="col-md-4">
      <h4>sideMessages service calls</h4>
      <input type="button" class="form-control btn btn-info bottom10" value="Mensagem de Info"
             ng-click="vm.exibirMensagemInfo()">
      <input type="button" class="form-control btn btn-info bottom10" value="Mensagem de Info com Usuário"
             ng-click="vm.exibirMensagemInfoWithUser()">
      <input type="button" class="form-control btn btn-danger bottom10" value="Mensagem de Erro"
             ng-click="vm.exibirMensagemDeErro()">
      <input type="button" class="form-control btn btn-warning bottom10" value="Mensagem de Aviso"
             ng-click="vm.exibirMensagemDeAviso()">
      <input type="button" class="form-control btn btn-success bottom10" value="Mensagem de Sucesso"
             ng-click="vm.exibirMensagemDeSucesso()">
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
  </div>
</div>
