<div class="container">
  <div class="row">
    <div class="col-md-offset-5 col-md-3">
      <form ng-submit="lc.login(lc.credentials)">
        <h4>Bem vindo!</h4>
        <input type="text" id="nome" class="form-control" placeholder="username" ng-model="lc.credentials.login"/>
        <input type="text" id="senha" class="form-control" placeholder="password" ng-model="lc.credentials.senha"/>
        <button class="btn btn-info" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>
