$template-color: rgb(97, 117, 168);

.body-login {
	font-family: 'Lato', sans-serif;
  height: 100vh;
  background: url('../../../assets/images/login.jpg') 50% fixed;
  background-color: white;
  background-size: cover;
}

.wrapper-login {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  background: rgba(darken($template-color,40%), 0.40);
}

.login-box {
  text-align: center;
  width: 90%;
  max-width: 340px;
  background: #ffffff;
  position: relative;
  margin-top: 0px;
  padding-bottom: 20px;
  padding-top: 0px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
	border-radius: 5px;

  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;

  input {
  	margin-bottom: 5px;
  	padding: 8px;
  	border: 1px solid #ccc;
  	border-radius: 2px;
  	font-size: .9em;
  	color: #888;

    &:focus {
    	outline: none;
    	border-color: $template-color;
    	transition: 0.5s;
    	color: $template-color;
    }
  }

  button {
  	margin-top: 10px;
  	border: 0;
  	border-radius: 2px;
  	color: white;
  	padding: 10px;
  	text-transform: uppercase;
  	font-weight: 400;
  	font-size: 0.7em;
  	letter-spacing: 1px;
  	background-color: $template-color;
  	cursor:pointer;
  	outline: none;

    &:hover {
    	opacity: 0.7;
    	transition: 0.5s;
    }
  }

  label {
  	font-weight: 700;
  	font-size: .8em;
  	color: #888;
  	letter-spacing: 1px;
  	text-transform: uppercase;
  	line-height: 2em;
  }

  a {
    text-decoration: none;
    color: #666;

    &:hover {
      color: #aeaeae;
    }
  }

  h2 {
  	text-transform: uppercase;
  	color: white;
  	font-weight: 400;
  	letter-spacing: 1px;
  	font-size: 1.4em;
  	line-height: 2.8em;
    margin-top: 0px;
  }

  p.small {
  	font-size: 0.8em;
  	margin: 20px 0 0;
  }
}

.box-header {
  background-color: $template-color;
  border-radius: 5px 5px 0 0;
  padding-top: 0px;
}
