$SHADOW-COLOR: #b4b4b4;
$TEXT-COLOR: #616161;

.breadcrumb {
  position: fixed;
  width: 100%;
  margin-top: 40px;
  padding-top: 3px;
  padding-bottom: 3px;
  z-index: 500;

  color: $TEXT-COLOR;
  border-top: 1px solid lightgray;
  border-radius: 0px !important;
  background-color: white; //#1970A9;

  -webkit-box-shadow: 0 2px 2px $SHADOW-COLOR;
  -moz-box-shadow: 0 2px 2px $SHADOW-COLOR;
  box-shadow: 0 2px 2px $SHADOW-COLOR;
}
